.tab_container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-color: #cecece;
    border-style: solid;
    border-width: 1px;
}

body {
    background-color: #fafafa;
    padding-top: 20px;
}

#tabs {
    padding: 0px;
    border-bottom: #cdcdcd 1px solid;
}

#tabs li {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#tabs li a {
    text-decoration: none;
    color: #000;
    padding: 0px 15px 10px 15px
}

#tabs li.active a {
    border-bottom: #4885ed 2px solid;
    color: #4885ed;
}

#view0 {
    padding-top: 1.5em;
}

.slider-container {
    width: 80%;
    margin: auto;
}

@media(max-width: 600px) {
	.tab_container {
    	width: 100%;
	}
}

span.slider {
    display: inline-block;
    width: 15%;
}

.beginning-slider {
    text-align: right;
}

.slider-container input {
    width: 60%;
    margin-left: 4.9%;
    margin-right: 4.9%;
}

.ticks {
    margin-bottom: -1.75em;
}

.tick {
    display: inline-block;
    margin-bottom: 0px;
    width: 11.65%;
}

.tick:first-of-type {
    margin-left: 32.3%;
}
